body{
  background: FF9F29;
  color: FF9F29;
  font-size: 25px;
  font-family: Courier;
}
h1{
  font-family: sans-serif;
  color: 000000;
  font-weight: lighter;
  font-weight: bolder;
  font-size: 50px;
}
h2 {
  font-family: Arial;
  color: 1A4D2E;
  font-weight: lighter;
  font-size: 35px;
}
a {
  color: blue;
}
a:hover {
  text-decoration: none;
  color: pink;
}
